#root {
  // max-width: 1280px;
  margin: 0 auto;
  // padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/********NAVBAR********/
nav {
  width: 100vw;

  .menu-icon {
    display: none;
  }

  .image {
    position: absolute;

    img {
      width: 100%;
      // height: 100%;
    }

    .overlay {
      background-color: #011e55b5;
      width: 100%;
      height: 99.3%;
      position: absolute;
      top: 0;
    }
  }

  .navbar {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-content {
      display: flex;
      gap: 237px;
    }


    .menu {
      display: flex;
      align-items: center;
      gap: 30px;
      font-family: 'cero-bold';
      font-size: 18px;

      .menu-itemone {
        display: flex;
        gap: 5px;
        align-items: center;
      }

      button {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        background-color: var(--bg-color);
        border: none;
        width: 150px;
        height: 45px;
        border-radius: 70px;

        a {
          font-family: 'cero-bold';
          font-size: 16px;
          color: var(--card-color);
        }
      }

    }
  }
}

main {
  position: relative;
}

#hero {
  margin-top: 45px;
  font-family: 'cero';

  .heading {
    h1 {
      font-size: 50px;
      line-height: 65px;
    }

    p {
      font-family: 'cero-medium';
      font-size: 18px;
      padding-top: 20px;
    }
  }

  .btn-container {
    max-width: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;

    .btn {
      padding: 10px;
      border: none;
      font-size: 18px;
      font-family: 'cero';
      width: 250px;
      background: var(--bg-color);
      color: var(--btn2-color);
      cursor: pointer;

      &:hover {
        background: var(--btn-color);
        color: var(--bg-color);
      }
    }
  }

  .image {
    position: relative;
    padding-top: 130px;

    img {
      position: absolute;
      top: 111px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
    }
  }
}

#about {
  padding-top: 620px;
  max-width: 1280px;
  margin: 250px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  flex-wrap: wrap;

  .image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .about-content {
    text-align: start;
    color: var(--txt2-color);

    p {
      padding-top: 20px;
      width: 410px;
      font-size: 15.5px;

      span {
        font-family: 'cero';
      }
    }
  }

  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 200px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      background: none;
      color: var(--btn2-color);
    }
  }
}

#service {
  margin-top: -30px;
  margin-bottom: 20px;

  h2 {
    color: var(--txt2-color);
    padding-bottom: 60px;
  }

  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 400px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      color: var(--btn2-color);
      background: none;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;

    .cards {
      width: 400px;
      height: 500px;
      border-radius: 10px;
      background: var(--card-color);

      .circle {
        font-family: 'cero';
        font-size: 30px;
        display: block;
        background-color: var(--btn2-color);
        width: 65px;
        padding: 10px;
        border-radius: 50%;
        position: relative;
        top: -28px;
        right: 25px;
      }

      .content {
        padding: 42px;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 30px;
          font-family: 'cero';
        }

        p {
          position: relative;
          top: -45px;
        }
      }
    }
  }
}

#features {
  margin-bottom: 30px;
  margin-top: 150px;
  padding: 60px;
  width: 100vw;


  .feature-inner {
    color: var(--txt2-color);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: start;
    gap: 150px;

  }

  .heading {
    width: 40%;

    p {
      width: 360px;
    }
  }

  .image {
    position: relative;
    display: block;
    background-color: var(--btn2-color);
    width: 1px;
    padding: 40px;
    border-radius: 50%;


    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
    }
  }

  .content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 50px;

    .infor {

      h3 {
        font-family: 'cero';
        font-size: 20px;
        margin-top: 20px;
      }

      p {
        width: 272px;

        span {
          border-bottom: var(--txt2-color);
        }
      }

    }
  }
}

#cases {
  color: var(--txt2-color);
  text-align: start;
  background: var(--cases-color);
  padding-bottom: 40px;

  h2 {
    padding-top: 80px;
    padding-left: 60px;
  }


  .arrow-container {
    margin-top: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;

    }

    div {
      position: relative;
      display: block;
      width: 1px;
      padding: 30px;
      border-radius: 50%;
      border: 2px solid #011E55;
    }
  }


  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 270px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      background: none;
      color: var(--btn2-color);
    }
  }

  .content {
    padding-top: 60px;
    display: flex;
    gap: 55px;
    overflow-x: auto;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 45px;

    .infor {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      .image {
        position: relative;
        display: block;
        background-color: var(--btn2-color);
        width: 1px;
        padding: 40px;
        border-radius: 50%;


        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 35%;
        }
      }

      p {
        padding-top: 10px;
        width: 262px;
      }


      h3 {
        padding-top: 10px;
        font-family: 'cero';
        font-size: 18px;
      }
    }
  }
}

#testimonials {
  padding-top: 150px;
  padding-bottom: 150px;
  background: var(--card-color);
  margin-top: 150px;

  .test-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 190px;
  }

  .headings {
    margin-left: 48px;

    p {
      width: 409px;
    }

    .arrow-con {
      padding-top: 30px;
      display: flex;
      align-items: center;
      gap: 30px;

      div {
        position: relative;
        display: block;
        width: 1px;
        padding: 30px;
        border-radius: 50%;
        border: 2px solid #ffffff;
      }

      img {
        filter: brightness(0) invert(1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
      }

    }

  }

  .content {
    display: flex;
    gap: 25px;
    overflow-x: auto;

    .card {
      background-color: var(--txt2-color);
      width: 380px;
      height: 450px;

      .quotes {
        position: relative;
        top: -31px;
        left: 23px;

        img {
          width: 50px;
        }
      }
    }

    .image {
      width: 100%;

      img {
        width: 380px;
      }
    }

    .card-heading {
      padding: 35px;
      position: relative;
      bottom: 60px;
    }

    h3 {
      font-family: 'cero';
      font-size: 25px;
    }

    h4 {
      font-family: 'cero-bold';
      font-size: 18px;
      color: var(--bg-color);
      opacity: 0.5;
    }

  }
}

#questions {
  color: var(--txt2-color);
  text-align: start;
  margin-top: 100px;

  .que-inner {
    padding: 60px;
    display: flex;
    gap: 100px;
  }

  .headings {
    width: 50%;

    p {
      width: 450px;
    }
  }

  .content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    .dropdown-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        padding: 20px;
        width: 515px;
      }
    }

    .btn {
      padding: 15px;
      border: none;
      font-size: 18px;
      border-radius: 5px;
      font-family: 'cero';
      width: 500px;
      background: var(--btn2-color);
      color: var(--bg-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25px;
      }

      .rotate-img {
        transform: rotate(180deg);
      }
    }
  }
}

#partners {
  margin-top: 150px;
  color: var(--txt2-color);

}

#signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  margin-bottom: 400px;

  .image {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      background-color: #011e55ae;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  .content {
    position: relative;

    p {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .btn {
      padding: 10px;
      border: none;
      font-size: 18px;
      font-family: 'cero';
      width: 250px;
      background: var(--bg-color);
      color: var(--btn2-color);
      cursor: pointer;

      &:hover {
        background: var(--btn-color);
        color: var(--bg-color);
      }
    }
  }

}

#contact {
  margin-top: 180px;
  padding: 80px;
  background-color: #303846;
  height: 372px;


  h1 {
    font-family: "cero";
    font-size: 30px;
  }

  .inner-contact {
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 180px;
    margin-bottom: 38px;
    flex-wrap: wrap;
  
  }


  .link {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}




@media (max-width: 1320px) {

}

@media (max-width: 1100px) {

  nav {
    .navbar {

      .nav-content {
        gap: 104px;
      }

      .menu {
        gap: 10px;
      }
    }
  }

  #about {
    gap: 90px;

    .image {
      img {
        width: 83%;
      }
    }
  }

  #questions {
    .headings {
      width: inherit;
    }

    .que-inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 39px;
    }
  }

}


@media (max-width: 900px) {

  nav {

    .image {
      img {
        height: 870px;
      }

    }

    .navbar {
      // justify-content: center;
      align-items: start;
      // gap: 100px;

      .nav-content {
        position: absolute;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        /* left: 710px; */
        background: #011E55;
        width: 98vw;
        bottom: -310px;
        z-index: 1000;
        padding-top: 59px;
        padding-bottom: 38px;
        transform: translateY(-640px);
        transition: transform 0.5s ease-in-out;

        .menu {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }




    .menu-icon {
      position: relative;
      cursor: pointer;
      display: block;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      top: -83px;
      right: 54px;

      .bar {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;

      }
    }

  }

  #about {
    padding-top: 250px;

    .image{
      width: 100%
    }
  }


  #features {
    .feature-inner {
      flex-wrap: wrap;
      gap: 76px;
      text-align: center;
    }

    .heading {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content {
      .infor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #questions {
    .headings {
      text-align: center;
    }
  }

  #testimonials {
    .test-inner {
      gap: 0;
      flex-wrap: wrap;
      justify-content: start;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;
    }

    .headings {
      .arrow-con {
        position: relative;
        top: 550px;
        // left: 15px;
      }
    }
  }

  #signup{
    .image{
      img{
        height: 75vh;
      }
    }
  }

  #contact{
    height: auto;
  }
 
}




@media (max-width: 768px) {

  #testimonials {
    .content {
      max-width: 665px;
    }
  }

  #contact{
    .inner-contact{
     flex-direction: column;
    }
  }

  #about{
    padding-top: 280px;
    .image{
      img{
        width: 79%;
      }
    }
  }

  #questions{
    .content{

      .dropdown-container  {
        p{
          padding: 20px;
        width: 472px;
        }
    }
      .btn{
        width: 450px;
        text-align: start;
      }
    }
  }

  #features{
    .card-container{
      .cards-inner{
        width: 97vw;
      }
    }
  }
}


@media (max-width: 479px) {

  #hero {
    .heading {
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        width: 299px;
      }
    }

    .image{
      img{
        width: 100%;
        top: 61px;
        padding: 10px;
      }
    }
  }

  #about{
    padding-top: 110px;

    .btn{
      width: 40%;
    }

.about-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    width: 50%;
  }

  p{
    width: 70%;
  }
}

    .image{
      img{
        width: 90%;
      }
    }
  }

  #features{
    .content{
      width: inherit;
    }

    .heading{
      p{
        width: 130%;
      }
    }
  }

  #service{
    .content{
      .cards{
        width: 80%;
        height: 1%;
      }
    }

    .btn{
      width: 80%;
    }
  }

#testimonials {

  .test-inner {
    margin-top: -66px;
  }

  .headings {
    margin-left: 0;
    text-align: center;
    padding: 21px;


    p {
      width: inherit;
      padding-top: 15px;
    }

    .arrow-con {
      justify-content: center;
    }

  }

  .content {
    max-width: 324px;

    .card {
      height: 462px;

      p {
        width: 276px;
      }
    }
  }
}

#questions {

  .headings {
    p {
      width: inherit;
    }
  }

  .content {

    .dropdown-container {
      p {
        width: inherit;
      }
    }

    .btn {
      width: 80vw;
      height: 80px;

      img {
        display: none;
      }

    }
  }
}

#signup{
  .content{
    .btn{
      width: 47%;
    }
  }
}
}


@media (max-width: 354px){
  nav{

    .image{
      img{
        height: 620px;
      }
    }
    .menu-icon{
      top: -43px;
    }
    .navbar{
      img{
        width: 100%;
      }
    }
  }

  #hero{
 .heading{
  h1{
    font-size: 23px;
    line-height: 35px;
  }

  p{
    width: 142px;
    font-size: 10px;
  }
 }

 .btn-container{
  .btn{
    font-size: 11px;
  }
 }
  }

  #about{
    padding-top: 0;

    .btn{
      font-size: 10px;
    }

    .about-content{
      h2{
        width: 66%;
      }
      p{
        font-size: 10px;
      }
    }
  }

  #service{
    .content{
      .cards{
        width: 95%;
        
        .circle{
          right: -6px;
          width: 44px;
          padding: 5px;
        }
        .content{
          padding: 4px;
          h3{
            font-size: 18px;
          }
        }
        .image{
          img{
            width: 40%;
          }
        }
      }
    }
  }

  #features{
    .content{
      .infor{
        p{
          width: 182px;
        }
      }
    }
    .heading{
      width: 112%;

      p{
        width: 192%;
      }
    }
  }

  #questions{
    .content{
      .btn{
        font-size: 10px;
      }
    }
    .headings{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        width: 180%;
      }
    }
  }

  #signup{
    .content{
      .btn{
        font-size: 10px;
      }
    }
  }

  #contact{
    .inner-contact{
      margin-left: -70px;
    }
  }
}