#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/********NAVBAR********/
nav {
  width: 100vw;
  color: var(--bg-color);

  .menu-icon {
    display: none;
  }

  .image {
    position: absolute;

    img {
      width: 100%;
    }

    .overlay {
      background-color: var(--overlay-hero);
      width: 100%;
      height: 99.3%;
      position: absolute;
      top: 0;

    }
  }

  .navbar {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-content {
      display: flex;
      gap: 237px;
    }


    .menu {
      display: flex;
      align-items: center;
      gap: 30px;
      font-family: 'cero-bold';
      font-size: 18px;

      .menu-itemone {
        display: flex;
        gap: 5px;
        align-items: center;
      }

    }
  }
}

main {
  position: relative;
}

#hero {
  color: var(--bg-color);
  margin-top: 45px;
  font-family: 'cero';

  .heading {
    h1 {
      font-size: 50px;
      line-height: 65px;
    }

    p {
      font-family: 'cero-medium';
      font-size: 18px;
      padding-top: 20px;
    }
  }

  .btn-container {
    max-width: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;

    .btn {
      padding: 10px;
      border: none;
      font-size: 18px;
      font-family: 'cero';
      width: 250px;
      background: var(--bg-color);
      color: var(--btn2-color);
      cursor: pointer;

      &:hover {
        background: var(--btn-color);
        color: var(--bg-color);
      }
    }
  }

  .image {
    position: relative;
    padding-top: 130px;

    img {
      position: absolute;
      top: 111px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
    }
  }
}

#about {
  color: var(--card-color);
  padding-top: 620px;
  max-width: 1280px;
  margin: 250px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
  flex-wrap: wrap;

  .image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .about-content {
    text-align: start;
    color: var(--txt2-color);

    p {
      padding-top: 20px;
      width: 410px;
      font-size: 15.5px;

      span {
        font-family: 'cero';
      }
    }
  }

  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 200px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      background: none;
      color: var(--btn2-color);
    }
  }
}

#service {
  color: var(--card-color);
  margin-top: -30px;
  margin-bottom: 20px;

  h2 {
    color: var(--txt2-color);
    padding-bottom: 60px;
  }

  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 400px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      color: var(--btn2-color);
      background: none;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;

    .cards {
      width: 400px;
      height: 500px;
      border-radius: 10px;
      color: var(--bg-color);
      background: #011E55;

      .circle {
        font-family: 'cero';
        font-size: 30px;
        display: block;
        background-color: var(--btn2-color);
        width: 65px;
        padding: 10px;
        border-radius: 50%;
        position: relative;
        top: -28px;
        right: 25px;
      }

      .content {
        padding: 42px;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 30px;
          font-family: 'cero';
        }

        p {
          position: relative;
          top: -45px;
        }
      }
    }
  }
}

#features {
  color: var(--card-color);
  margin-bottom: 30px;
  margin-top: 150px;
  padding: 60px;
  width: 100vw;


  .feature-inner {
    color: var(--txt2-color);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: start;
    gap: 150px;

  }

  .heading {
    width: 40%;

    p {
      width: 360px;
    }
  }

  .image {
    position: relative;
    display: block;
    background-color: #013D7B;
    width: 1px;
    padding: 40px;
    border-radius: 50%;


    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
    }
  }

  .content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 50px;

    .infor {

      h3 {
        font-family: 'cero';
        font-size: 20px;
        margin-top: 20px;
      }

      p {
        width: 80%;

        span {
          border-bottom: var(--txt2-color);
        }
      }

    }
  }
}

#cases {
  color: var(--txt2-color);
  text-align: start;
  background: var(--cases-color);
  padding-bottom: 40px;

  .swiper-wrapper {
    gap: 50px;
  }

  h2 {
    padding-top: 80px;
    padding-left: 60px;
  }


  .arrow-container {
    margin-top: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;

    }

    div {
      position: relative;
      display: block;
      width: 1px;
      padding: 30px;
      border-radius: 50%;
      border: 2px solid #011E55;
    }
  }


  .btn {
    margin-top: 25px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-family: 'cero';
    width: 270px;
    background: var(--btn2-color);
    color: var(--bg-color);
    cursor: pointer;

    &:hover {
      background: none;
      color: var(--btn2-color);
    }
  }

  .content {
    padding-top: 60px;
    display: flex;
    gap: 55px;
    padding-inline: 45px;
    width: 100%;
    margin: auto;

    .infor {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      max-width: 350px;
      height: 400px;

      .image {
        position: relative;
        display: block;
        background-color: #013D7B;
        width: 1px;
        padding: 40px;
        border-radius: 50%;


        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 35%;
        }
      }

      p {
        padding-top: 10px;
        width: 262px;
      }


      h3 {
        padding-top: 10px;
        font-family: 'cero';
        font-size: 18px;
      }
    }
  }
}

#testimonials {
  padding-top: 150px;
  padding-bottom: 150px;
  background: var(--test-color);
  margin-top: 150px;
  color: var(--bg-color);

  .test-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 190px;
  }

  .headings {
    margin-left: 48px;
    color: #ffffff;

    p {
      width: 409px;
    }

  }

  .content {
    display: flex;
    gap: 25px;
    width: 100%;
    padding-inline: 45px;
    margin: auto;

    .card {
      background-color: var(--txt2-color);
      width: 380px;
      max-width: 350px;
      height: 450px;

      .quotes {
        position: relative;
        top: -31px;
        left: 23px;

        img {
          width: 50px;
        }
      }
    }

    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .card-heading {
      padding: 35px;
      position: relative;
      bottom: 60px;
    }

    h3 {
      font-family: 'cero';
      font-size: 25px;
    }

    h4 {
      font-family: 'cero-bold';
      font-size: 18px;
      color: var(--bg-color);
      opacity: 0.5;
    }

  }
}

#questions {
  color: #003F74;
  text-align: start;
  margin-top: 100px;

  .que-inner {
    padding: 60px;
    display: flex;
    gap: 100px;
  }

  .headings {
    width: 50%;

    p {
      width: 450px;
    }
  }

  .content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    .dropdown-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        padding: 20px;
        width: 515px;
      }
    }

    .btn {
      padding: 15px;
      border: none;
      font-size: 18px;
      border-radius: 5px;
      font-family: 'cero';
      width: 500px;
      background: var(--qbtn2-color);
      color: var(--qbg-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 25px;
      }


      .upside-down {
        transform: rotate(180deg);
      }

    }
  }
}

#partners {
  margin-top: 150px;
  color: var(--txt2-color);

}

#signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  margin-bottom: 400px;
  color: var(--bg-color);

  .image {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      background-color: #011e55ae;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  .content {
    position: relative;

    p {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .btn {
      padding: 10px;
      border: none;
      font-size: 18px;
      font-family: 'cero';
      width: 250px;
      background: var(--bg-color);
      color: var(--btn2-color);
      cursor: pointer;

      &:hover {
        background: var(--btn-color);
        color: var(--bg-color);
      }
    }
  }

}

#contact {
  margin-top: 180px;
  padding: 80px;
  background-color: #303846;
  height: 372px;
  color: #ffffff;


  h1 {
    font-family: "cero";
    font-size: 30px;
  }

  .inner-contact {
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 180px;
    margin-bottom: 38px;
    flex-wrap: wrap;

  }


  .link {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #ffffff;
  }
}




@media (max-width: 1320px) {}

@media (max-width: 1100px) {

  nav {
    .navbar {

      .nav-content {
        gap: 104px;
      }

      .menu {
        gap: 10px;
      }
    }
  }

  #about {
    gap: 90px;

    .image {
      img {
        width: 83%;
      }
    }
  }

  #questions {
    .headings {
      width: inherit;
    }

    .que-inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 39px;
    }
  }

  #testimonials {
    .test-inner {
      gap: 94px;
    }
  }

}


@media (max-width: 1270px) {
  nav {
    .navbar {
      justify-content: start;

      .menu {
        gap: 16px;
      }

      .nav-content {
        gap: 127px;
      }
    }
  }
}


@media (max-width: 1065px) {
  nav {
    .navbar {

      .nav-content {
        gap: 101px;
      }

      .menu {
        gap: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  nav {
    .navbar {
      .menu {
        font-size: 16px;
      }

      .nav-content {
        gap: 56px;
      }
    }
  }
}


@media (max-width: 950px) {
  nav {
    .navbar {
      .logo {
        width: 209px;
      }
    }

    .nav-content {
      gap: 44px;
    }
  }
}


@media (max-width: 900px) {

  nav {

    .image {
      img {
        height: 870px;
      }

    }

    .navbar {
      // justify-content: center;
      align-items: start;
      // gap: 100px;

      .nav-content {
        position: absolute;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        right: 0;
        background: #011E55;
        width: 100%;
        bottom: -310px;
        z-index: 1000;
        padding-top: 59px;
        padding-bottom: 38px;
        transform: translateY(-640px);
        transition: transform 0.5s ease-in-out;

        .menu {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }

      .nav-content.show {
        transform: translateY(0);
        top: 0;
      }
    }




    .menu-icon {
      position: relative;
      cursor: pointer;
      display: block;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      top: -83px;
      right: 54px;
      z-index: 10000;

      .bar {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;

      }
    }

    .menu-icon.close {
      .bar.two {
        opacity: 0;
      }

      .bar.one {
        rotate: 140deg;
      }

      .bar.three {
        rotate: -140deg;
        margin-top: -15px;
      }
    }

  }

  #about {
    padding-top: 250px;

    .image {
      width: 100%
    }
  }


  #features {
    .feature-inner {
      flex-wrap: wrap;
      gap: 76px;
      text-align: center;
    }

    .heading {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content {
      .infor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #questions {
    .headings {
      text-align: center;
    }
  }

  #testimonials {
    .test-inner {
      gap: 60px;
      flex-wrap: wrap;
      justify-content: start;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;
    }

    .headings {
      .arrow-con {
        position: relative;
        top: 550px;
        // left: 15px;
      }
    }
  }

  #signup {
    .image {
      img {
        height: 75vh;
      }
    }
  }

  #contact {
    height: auto;
  }

}




@media (max-width: 768px) {

  #testimonials {
    .content {
      max-width: 665px;
    }
  }

  #contact {
    .inner-contact {
      flex-direction: column;
    }
  }

  #about {
    padding-top: 280px;

    .image {
      img {
        width: 79%;
      }
    }
  }

  #questions {
    .content {

      .dropdown-container {
        p {
          padding: 20px;
          width: 472px;
        }
      }

      .btn {
        width: 450px;
        text-align: start;
      }
    }
  }

  #features {
    .card-container {
      .cards-inner {
        width: 97vw;
      }
    }
  }
}


@media (max-width: 479px) {

  nav {

    .logo {
      width: 143px;
    }

    .image {
      img {
        height: 740px;
      }
    }

    .menu-icon {
      right: 17px;

      h1 {
        font-size: 16px;
      }
    }

    .nav-content.show {
      ul {
        li {
          font-size: 16px;
        }
      }
    }
  }

  #hero {
    .heading {
      flex-flow: column;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 33px;
        line-height: 47px;
      }

      p {
        width: 60%;
        font-size: 15px;
      }
    }

    .btn-container {
      .btn {
        font-size: 15px;
      }
    }

    .image {
      img {
        width: 100%;
        top: 61px;
        padding: 10px;
      }
    }
  }

  #about {
    padding-top: 110px;

    .btn {
      width: 40%;
      font-size: 15px;
    }

    .about-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        width: 53%;
      }

      p {
        width: 93%;
      }
    }

    .image {
      img {
        width: 90%;
      }
    }
  }

  #features {

    .image {
      padding: 30px;
    }

    .content {
      width: inherit;
    }

    .heading {
      width: 100%;

      p {
        width: 100%;
      }
    }
  }

  #cases {
    .content {
      .infor {
        .image {
          padding: 30px;
        }
      }
    }

    .btn {
      font-size: 15px;
    }

    .arrow-container {
      gap: 15px;

      div {
        padding: 20px;
      }
    }
  }

  #service {
    .content {
      .cards {
        width: 80%;
        height: 1%;

        .circle {
          width: 52px;
          padding: 5px;
        }

        .image {
          img {
            width: 32%;
          }
        }

        .content {
          padding: 8px;

          h3 {
            font-size: 24px;
          }
        }
      }
    }

    .btn {
      width: 80%;
      font-size: 15px;
    }
  }

  #testimonials {

    .test-inner {
      margin-top: -66px;
    }

    .headings {
      margin-left: 0;
      text-align: center;
      padding: 21px;


      p {
        width: inherit;
        padding-top: 15px;
      }

      .arrow-con {
        justify-content: center;
        gap: 15px;

        div {
          padding: 20px;
        }
      }

    }

    .content {
      max-width: 800px;

      .card {
        height: 462px;

        p {
          width: 240px;
        }
      }
    }
  }

  #questions {

    .headings {
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        width: 100%;
      }
    }

    .content {

      .dropdown-container {
        p {
          width: inherit;
        }
      }

      .btn {
        width: 80vw;
        height: 80px;
        font-size: 15px;

        img {
          display: none;
        }

      }
    }
  }

  #signup {
    margin-top: 387px;

    .content {
      .btn {
        width: 47%;
        font-size: 14px;
      }
    }
  }

  #contact {
    h1 {
      font-size: 20px;
    }
  }
}


@media (max-width: 369px) {

  #testimonials {
    .content {
      margin-left: -26px;
    }


  }
}